html
    head
        link(rel="stylesheet" type="text/css" href="/styles/style.css")
        link(rel="stylesheet" type="text/css" href="/styles/adminstyle.css")
    body
        a(href="/admin" id="RefreshButton") Refresh
        form(action="", method="post")
            ol(id="SeatAdmin")
                each seat in seats
                    li
                        if seat.customer
                            h2 Seat #{seat.id} 
                                span(class="TimeInSeat") #{times[seat.id]}
                            p(class="CheckinTime") #{new Date(seat.date.booked)}
                            p(class="EmailAddress") #{seat.customer} 
                                span(class="TotalTime") (#{customers[seat.customer]})
                            a(href="?checkout=" + seat.id, class="CheckoutButton") Checkout
                        else
                            h2 Seat #{seat.id}
                            input(type="text", id="email" + seat.id, placeholder="Name or email")
                            a(href="?checkin=" + seat.id, class="CheckinButton", onClick="this.href += '&email=' + encodeURI(document.getElementById('email" + seat.id + "').value) ") Checkin