<html>
    
    <head>
        <title>Workwell Cafe</title>
        <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
        <script src="/scripts/app.js"></script>
        style(type="text/css").
            #communaltables {
                position: relative;
                background: url(images/communaltables.png);
                width: 355px;
                height: 515px;
            }
            span {
                position: absolute;
                background: #7ED321;
                padding: 2px;
                border-radius: 5px;
            }
            span.taken {
                background: #999;
            }
            #seat1 {
                top: 105px;
                left: 44px;
            }
            #seat2 {
                top: 41px;
                left: 100px;
            }
            #seat3 {
                top: 26px;
                left: 167px;
            }
    </head>
    
    <body>
        <div id="Header">
            <h1>Communal tables</h1>
        </div>

        <div class="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Auth0 - JavaScript</a>

                <button id="btn-home-view" class="btn btn-primary btn-margin">
                    Home
                </button>

                <button id="btn-login" class="btn btn-primary btn-margin">
                    Log In
                </button>

                <button id="btn-logout" class="btn btn-primary btn-margin">
                    Log Out
                </button>

            </div>
            </div>
        </nav>

        <main class="container">
            <!-- home view -->
            <div id="home-view">
            <h4></h4>
            </div>
            
        </main>

        </div>

        form(action="charge", method="post")

            label Your cell number: 
            input(type="text",name="phone_number",value="+1")


            <div id="communaltables">

                
                each seat in seats
                    if !seat.customer
                        span(id="seat" + seat.id)
                            input(type='checkbox', name="seat-" + seat.id) 
                            label Seat #{seat.id}
                    if seat.customer
                        span(id="seat" + seat.id, class="taken")
                            input(type='checkbox', name="seat-" + seat.id, checked, disabled) 
                            label Seat #{seat.id}

            </div>
            script(
                src="//checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key="pk_test_tVXZFnduzq1Dzrw4ggAibgZo",
                data-locale="auto",
                data-description="Workwell Cafe Seats",
                data-amount="200")

    </body>
    
</html>